.about-section {
  display: flex;
  justify-content: space-around;
  max-width: 106rem;
  margin: 0 auto;
  margin-bottom: 15rem;
  padding: 0rem 10rem 0rem 10rem;
}

.about-img-box {
  display: block;
  max-width: 31rem;
  min-height: 38rem;
  position: relative;
  z-index: 5;
  margin-right: 3rem;
}

.about-img-box::before {
  content: "";
  width: 7rem;
  height: 7rem;
  background-color: #ffca45;
  position: absolute;
  top: -10%;
  right: -10%;
  z-index: -1;
}

.about-img-box::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border: 4px solid #ff5b65;
  border-radius: 50%;
  position: absolute;
  top: 44%;
  left: -23%;
  z-index: -1;
}
.about-img-box .lighthouse {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-img-box .pseudo {
  width: 8rem;
  height: 8rem;
  z-index: -1;
  position: absolute;
  bottom: -3rem;
  left: -3rem;
}

.about-text-box {
  max-width: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-text-box-item {
  display: flex;
}

.about-text-box-item img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  margin-right: 1.5rem;
}

.about-text-box-item h3:first-of-type {
  margin-bottom: 1rem;
}
