.button {
  position: relative;
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 2rem;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35), 0 6px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s, background-color 0.3s;
  cursor: pointer;
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  transition: all 2s ease;
}
.button:hover:before {
  width: 100%;
}
.button:hover {
  cursor: pointer;
}

.mini {
  padding: 0.5rem 1rem;
}

.mini:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.45), 0 10px 10px rgba(0, 0, 0, 0.35);
  background-color: var(--hover-orange);
}

.mini:hover:before {
  width: 0;
}
