.choose-section {
  max-width: 130rem;
  margin: 0 auto;
  margin-bottom: 11rem;
  padding: 0rem 5rem 0rem 5rem;
  text-align: center;
}
.choose-section h2 {
  margin-bottom: 5.5rem;
}
.choose-section-container {
  max-width: 90rem;
  min-height: 40rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.choose-section-container-card {
  width: 28rem;
  height: 29.7rem;
  position: relative;
  transition: all 0.3s ease;
  margin-right: 2rem;
}

.choose-section-container-card:last-child {
  margin-right: 0;
}

.choose-section-container::after {
  content: "";
  width: 9.5rem;
  height: 9.5rem;
  border-radius: 50%;
  background-color: #abf19f;
  filter: blur(3.5rem);
  position: absolute;
  top: -30%;
  right: 10%;
}

.choose-section-container-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 5;
}
.choose-section-container-card:nth-child(2):hover:before,
.choose-section-container-card:nth-child(2):hover:after {
  transform: scale(0);
}
.choose-section-container-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.choose-section-container-card:nth-child(1),
.choose-section-container-card:nth-child(3) {
  align-self: end;
}

.choose-section-container-card:nth-child(2) {
  position: relative;
  align-self: start;
}

.choose-section-container-card:nth-child(2)::before {
  content: "";
  width: 8rem;
  height: 9rem;
  background-color: #edf3ff;
  clip-path: polygon(100% 1%, 0 100%, 100% 100%);
  position: absolute;
  top: 0;
  left: -36%;
}

.choose-section-container-card:nth-child(2)::after {
  content: "";
  width: 15.5rem;
  height: 16.5rem;
  background-color: #fff4de;
  clip-path: circle(50% at 0 100%);
  position: absolute;
  top: -28%;
  right: -67%;
}

.choose-section-container-card-text-box {
  position: absolute;
  bottom: -2.5rem;
  right: 0;
  width: 90%;
  padding: 0.8rem 0.3rem 0.3rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white-color);
  box-shadow: 0px 10px 25px 0px rgba(215, 190, 190, 0.2);
}

.choose-section-container-card-text-box button {
  padding: 0.5rem 1rem;
}

.choose-section-container-card-text-box-descr {
  text-align: left;
}

.choose-section-container-card-text-box-descr h3 {
  margin-bottom: 0.5rem;
}
.choose-section-container-card-text-box-descr li {
  display: inline-block;
  margin-right: 1rem;
}

.choose-section-container-card-text-box-descr li.price {
  color: #ff715b;
}

.choose-section-container-card-text-box-descr li.range {
  font-size: 0.9rem;
}

.choose-section-container-card-text-box-descr li.review {
  color: var(--text-color);
}
