@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap");

@import url("./base.css");
@import url("./text-style.css");
@import url("./button.css");
@import url("./first-screen.css");
@import url("./explanation-section.css");
@import url("./top-destination-section.css");
@import url("./about-section.css");
@import url("./choose-section.css");
@import url("./feedback-section.css");
@import url("./apps-section.css");
@import url("./footer.css");
@import url("./media.css");

/* Макет знайшла у Figma, трішки перобила. Розкривання гамбургера через чекбокс підгледіла, все решту робила, як навчилася :) */
