.top-destination-section {
  display: flex;
  justify-content: space-around;
  max-width: 130rem;
  margin: 0 auto;
  margin-bottom: 15rem;
  padding: 0rem 5rem 0rem 5rem;
}

.top-destination-text-box {
  max-width: 23rem;
}
.top-destination-text-box-title {
  margin-bottom: 2rem;
}

.top-destination-text-box-title span:first-child {
  color: var(--main-color);
}
.top-destination-text-box-descr {
  margin-bottom: 3rem;
}

.top-destination-img-box {
  display: block;
  position: relative;
  max-width: 18rem;
  min-height: 22rem;
  transition: all 0.3s ease;
  overflow: hidden;
}

.top-destination-img-box:hover {
  transform: scale(1.1);
  outline: 0.5rem solid var(--main-color);
  z-index: 5;
}
.top-destination-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-destination-img-box p {
  font-size: 1.55rem;
  font-weight: bold;
  color: var(--white-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 3%;
  left: 5%;
}
